body {
    font-family: Arial, sans-serif;
}

.content {
    margin-top: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    font-size: 18px;
}
/* Submenu behavior */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}
